
body {
    background-color: #962317;
}

h1 {
    font-family: Verdana, Arial, Sans-Serif;
    font-size: 50px;
}

img {
    width: auto;
    height: 300px;
}

a {
    color: black;
}

h2 {
    font-family: Verdana, Arial, Sans-Serif;
    font-size: 20px;
}

p,
li {
    font-family: Verdana, Arial, Sans-Serif;
    font-size: 15px;
}